@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/*---------------------------------------- Tailwind CSS---------------------------------------- */
@theme {
  --color-primary: #6f9eea;
  --color-secondary: #262751;
  --color-ternary: #fffeff;
}


/* ---------------------------------Scroll Bar--------------------------------- */
.custom-scroll {
  overflow-y: auto;
}

/* WebKit */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 9999px;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}