@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/*---------------------------------------- Tailwind CSS---------------------------------------- */
@theme {
  --color-primary: #6f9eea;
  --color-secondary: #262751;
  --color-ternary: #fffeff;
}


/* ---------------------------------Scroll Bar--------------------------------- */
.custom-scroll {
  overflow-y: auto;
}

/* WebKit */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 9999px;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

/* ---------------------------------top help menu animation--------------------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.15s ease-out;
}

/* ----------------------------------------Loadnig Css---------------------------------------- */
/* HTML: <div className="loader"></div> */
.loader {
  width: 120px;
  height: 22px; 
  border-radius: 40px;
  color: #6f9eea;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {left: calc(100% + 20px)}
}