@import 'tailwindcss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/*---------------------------------------- Tailwind CSS---------------------------------------- */
@theme {
  --color-primary: #6f9eea;
  --color-secondary: #262751;
  --color-ternary: #fffeff;
}

/* ---------------------------------Scroll Bar--------------------------------- */
.custom-scroll {
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #849dc82c;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #849dc82c;
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background-color: #849dc82c;
}

/* ---------------------------------top help menu animation--------------------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.15s ease-out;
}

/* ----------------------------------------Loadnig Css---------------------------------------- */
/* HTML: <div className="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #6f9eea;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: '';
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {
    left: calc(100% + 20px);
  }
}

/* --------------------------------preview of image in chat------------------------------------- */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes zoomIn {
  from { transform: scale(0.92); }
  to   { transform: scale(1); }
}

@keyframes zoomOut {
  from { transform: scale(1); }
  to   { transform: scale(0.92); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.25s ease-in forwards;
}

.animate-zoomIn {
  animation: zoomIn 0.25s ease-out forwards;
}

.animate-zoomOut {
  animation: zoomOut 0.25s ease-in forwards;
}

