@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}


@theme {
  --color-primary: #6f9eea;
  --color-secondary: #262751;
  --color-ternary: #fffeff;
}
